body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 600px;
    display: flex;
    padding: 0 8px;
    margin-top: 6px;
    border-radius: 3px;
    flex-direction: row;
    align-items: center;
    background: #000000;
    box-sizing: border-box;
    justify-content: space-between;
}

.header__h2 {
    color: #FFFFFF;
}

a {
    padding: 12px;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background: #2B2B2A;
}

.content {
    width: 600px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
}

.content__h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.content__inputs {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__input {
    width: 60%;
}

.content__radios {
    width: 90%;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}

.content__buttons {
    width: 90%;
    margin-top: 16px;
}

.content__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    transition: 2s;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
    background: #000000;
}

.content__button:hover {
    cursor: pointer;
    background: #2B2B2A;
}

.content__result {
    margin: 10px 0;
}

.content__information {
    width: 90%;
    padding: 0 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.content__result {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__table {
    width: 100%;
}